<footer>
    <hr>
    <div class="footer-conteiner">
        <p id="footerParrafo">Título: STORE WARS | Tematica: Tienda e-commerce de venta de articulos referidos al universo de Star Wars | Alumno: Gonzalo Leonel Gramajo | Comisión: 30945 | Profesor: Agustín meliendrez | Tutor: Emiliano Pérez | Descripción: sitio web e-commerce de venta de articulos referidos al universo de Star Wars. Fue realizado con la finalidad de presentarse en el curso de Backend para Coder House y su posterior revisión | Fecha: Septiembre del 2022 | © Copyright 2022 | Licensee ISC | Contacto: gramajogonzalo@gmail.com</p>
    </div>
</footer>