<div class="chat-principal">
  <h3>CENTRO DE MENSAJES</h3>
  <div class="formulario-contenedor">
    <input type="text" placeholder='Escribe un mensaje' name="message" id="message" autocomplete="off" required>
    <input type="button" value="ENVIAR" id="boton" onclick="addMessage(this)">
  </div>
  <div id="contenedor-mensajes">
    <div id = "messages"></div>
  </div>
</div>