<div id="formRegistrarse">
    <form method="post" action="/usuarios/signup">
        <h2 id="tituloRegistrarse">Registrarse</h2>
        <br>
        <table id="tableSignUp">
            <tr>
                <th>
                    <label for="name">Nombre</label>
                </th>
                <th>
                    <input type="text" name="name" id="name" class="casilla" required>
                </th>
                <th>
                    <label for="username">Email</label>
                </th>
                <th>
                    <input type="text" name="username" id="username" class="casilla" required>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="lastname">Apellido</label>
                </th>
                <th>
                    <input type="text" name="lastname" id="lastname" class="casilla" required>
                </th>
                <th>
                    <label for="password">Contraseña</label>
                </th>
                <th>
                    <input type="password" name="password" id="password" class="casilla" required>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="age">Edad</label>
                </th>
                <th>
                    <input type="number" name="age" id="age" class="casilla" required>
                </th>
                <th>
                    <label for="alias">Usuario</label>
                </th>
                <th>
                    <input type="text" name="alias" id="alias" class="casilla" required>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="address">Dirección</label>
                </th>
                <th>
                    <input type="text" name="address" id="address" class="casilla" required>
                </th>
            </tr>
        </table>
        <br>
        <input type="submit" value="Crear cuenta" id="botonSingup">
        <input onclick="ocultarCrearUsuario(this)" type="button" value="Cancelar" id="botonOcultarRegister">
        <br>
    </form>
</div>

<div id="errRegister">
    <input onclick="ocultarErrRegister(this)" type="button" value="X" id="boton4">
    <h2>ERROR: datos incorrectos</h2>
    <p>Ingrese los datos correctamente para registrarse!</p>
</div>