<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>STORE WARS (registrarse)</title>
    <link rel="stylesheet" href="/css/registrarse.css" />
    <link rel="icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  </head>
<body class="container">
  <div id="atenuarErr"></div>
  <%- include('../partials/header'); %>
  <main>
    <%- include('../partials/signupForm'); %>
  </main>
  <%- include('../partials/footer'); %>
  <script src="scripts/register.js"></script>
</body>
</html>